@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2C1919;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  background: #c62727;
  height: 2px;
  position: relative;
  z-index: 1;
  top: 0px;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 100%;
  right: -1px;
  top: -4px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #fff;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

/* Handle stripes;
 */
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #fff;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}
.popup__close img {
  max-width: 100%;
}
.popup__title {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  padding-bottom: 2.5rem;
}
@media (max-width: 23.4375em) {
  .popup__title {
    font-size: 1.6875rem;
  }
}
.popup__input {
  max-width: 350px;
  margin: auto;
}
.popup__input:not(:last-child) {
  margin-bottom: 1.25rem;
}
.popup__input input {
  width: 100%;
  color: #FFF;
  padding: 1.21875rem 2.3125rem;
  border-radius: 30px;
  background: rgba(193, 31, 31, 0.8);
  outline: none;
}
.popup__input input::placeholder {
  color: #fff;
}
.popup__privacy {
  max-width: 350px;
  margin: auto;
  margin-bottom: 1.25rem;
  display: flex;
  gap: 0.625rem;
}
.popup__privacy::before {
  content: "";
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  background: url("../img/icons/check.svg") left/contain no-repeat;
}
.popup__btn-wrap {
  padding-bottom: 1.25rem;
  text-align: center;
}
.popup__regions {
  text-align: center;
  padding-bottom: 1.875rem;
}
.popup__region {
  font-size: 1.25rem;
}
.popup__region:not(:last-child) {
  padding-bottom: 1.25rem;
}
@media (any-hover: hover) {
  .popup__region a:hover {
    text-decoration: underline;
  }
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #DB4444;
  color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  display: inline-block;
  color: #DB4444;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.90625rem 1.875rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
}

.title {
  font-size: 60px;
  font-weight: 700;
}
@media (max-width: 82.5em) {
  .title {
    font-size: 3.125rem;
  }
}
@media (max-width: 61.99875em) {
  .title {
    font-size: 2.8125rem;
  }
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 2.1875rem;
  }
}

.text {
  line-height: 1.3;
}
.text p:not(:last-child) {
  padding-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .text p:not(:last-child) {
    padding-bottom: 0.625rem;
  }
}

.range-calculation__item {
  height: 2px;
  background: #c62727;
  cursor: pointer;
}

.slider-pagination {
  margin-top: 4.375rem;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .slider-pagination {
    margin-top: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .slider-pagination {
    margin-top: 1.875rem;
  }
}
.slider-pagination span {
  width: 15px;
  height: 15px;
  flex: 0 0 15px;
  border-radius: 100%;
  background-color: #d9d9d9;
  transition: 0.3s;
}
.slider-pagination span.swiper-pagination-bullet-active {
  background-color: #DB4444;
}

.main-title {
  color: #1d192c;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  padding-bottom: 3.125rem;
}
.main-title span {
  color: #DB4444;
}

.menu-open .menu__body {
  left: 0;
}

.header {
  position: relative;
  padding: 1.46875rem 0 1.46875rem 0;
  box-shadow: 0px 4px 4px 0px rgba(225, 225, 225, 0.1);
}
@media (max-width: 61.99875em) {
  .header {
    padding: 1.0625rem 0;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: #fff;
  }
}
@media (max-width: 61.99875em) {
  .header__wrapper {
    display: flex;
  }
}
@media (max-width: 61.99875em) {
  .header__top {
    flex: 1 1 auto;
  }
}
.top-header {
  padding-bottom: 1.6875rem;
}
@media (max-width: 61.99875em) {
  .top-header {
    padding: 0;
  }
}
.top-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
@media (max-width: 61.99875em) {
  .top-header__row {
    justify-content: flex-start;
  }
}
.top-header__logo img {
  max-width: 100%;
}
@media (max-width: 61.99875em) {
  .top-header__logo {
    max-width: 120px;
    z-index: 5;
  }
}
.top-header__content {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .top-header__content {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
  }
}
.top-header__tel {
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 61.99875em) {
  .top-header__tel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}
.top-header__region {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid #DB4444;
  padding: 0.375rem 1.25rem;
  min-width: 190px;
  position: relative;
}
@media (max-width: 61.99875em) {
  .top-header__region {
    display: block;
    margin: auto;
  }
}
.top-header__region::after {
  content: "";
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translate(0, -50%);
  width: 12px;
  height: 6px;
  background: url("../img/icons/arr.svg") center/contain no-repeat;
}
.top-header__btn {
  font-size: 0.875rem;
  color: #fff;
  background-color: #DB4444;
  padding: 0.375rem 2.125rem;
  border-color: #DB4444;
}
@media (max-width: 61.99875em) {
  .top-header__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
@media (any-hover: hover) {
  .top-header__btn:hover {
    color: #2C1919;
  }
}

.logo img {
  max-width: 100%;
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    padding-top: 120px;
    text-align: center;
    top: 0;
    left: -100%;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 3;
    background-color: #fff;
  }
}
.menu__list {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
@media (max-width: 61.99875em) {
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }
}
.menu__item {
  border-top: 1px solid rgba(29, 25, 44, 0.1);
  padding-top: 1.125rem;
}
@media (max-width: 61.99875em) {
  .menu__item {
    border: 0;
    font-size: 1.25rem;
  }
}
.menu__link {
  font-size: 0.875rem;
  font-weight: 500;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #DB4444;
    text-decoration: underline;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 1.125rem;
    font-weight: 600;
  }
}
.menu__icon-wrap {
  border: 1px solid #DB4444;
  border-radius: 50%;
  padding: 15px 12.5px;
}
@media (min-width: 61.99875em) {
  .menu__icon-wrap {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .menu__icon-wrap {
    position: relative;
    z-index: 5;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.4375rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #DB4444;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background: #F5F5F5;
  padding-bottom: 4.6875rem;
}
@media (max-width: 47.99875em) {
  .footer {
    background-color: #fff;
  }
}
.footer__row {
  display: flex;
  gap: 3.75rem;
}
@media (max-width: 47.99875em) {
  .footer__row {
    flex-direction: column;
  }
}
.footer__content-body {
  max-width: 550px;
}
.footer__content {
  flex: 1 1 auto;
}
@media (max-width: 29.99875em) {
  .footer__content {
    flex: 0 1 auto;
  }
}
.footer__logo {
  margin-bottom: 2.5rem;
  display: block;
}
@media (max-width: 29.99875em) {
  .footer__logo {
    margin-bottom: 0px;
  }
}
.footer__logo img {
  width: 60px;
}
.footer__text {
  font-size: 0.625rem;
}
.footer__menu-bottom {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
@media (max-width: 29.99875em) {
  .footer__menu-bottom {
    flex-direction: column;
    gap: 1.5625rem;
  }
}
.footer__contacts a {
  margin-top: 0.625rem;
  display: block;
  font-weight: 500;
}
.footer__policy {
  margin-top: 4rem;
  line-height: 162.5%;
}
@media (any-hover: hover) {
  .footer__policy:hover {
    text-decoration: underline;
  }
}
@media (max-width: 29.99875em) {
  .footer__policy {
    margin-top: 1.5625rem;
  }
  .footer__policy a {
    display: block;
    margin-bottom: 1.875rem;
  }
}

.logo__row {
  display: flex;
  align-items: center;
  gap: 2.3125rem;
}
@media (max-width: 61.99875em) {
  .logo__row {
    gap: 1.25rem;
  }
}
.logo__title {
  font-size: 1.25rem;
  font-weight: 600;
}
@media (max-width: 61.99875em) {
  .logo__title {
    font-size: 1.125rem;
  }
}

.menu-footer {
  padding-bottom: 3.125rem;
}
@media (max-width: 29.99875em) {
  .menu-footer {
    padding-bottom: 1.5625rem;
  }
}
.menu-footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.375rem;
}
@media (max-width: 29.99875em) {
  .menu-footer__list {
    display: flex;
    gap: 0.9375rem;
    flex-direction: column;
  }
}
.menu-footer__link {
  font-weight: 600;
  line-height: 162.5%; /* 162.5% */
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

.dop-menu__item:not(:last-child) {
  padding-bottom: 0.9375rem;
}
.dop-menu__link {
  line-height: 162.5%;
}
@media (any-hover: hover) {
  .dop-menu__link:hover {
    text-decoration: underline;
  }
}

.main-section {
  background: #f5f5f5;
  padding-top: 1.875rem;
  padding-bottom: 10rem;
}
@media (max-width: 61.99875em) {
  .main-section {
    padding-top: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .main-section {
    padding-bottom: 9.375rem;
  }
}
@media (max-width: 23.4375em) {
  .main-section .btn {
    font-size: 1.125rem;
  }
}
.main-section__gird {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.875rem;
}
@media (max-width: 82.5em) {
  .main-section__gird {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 61.99875em) {
  .main-section__gird {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .main-section__gird {
    display: flex;
    flex-direction: column;
  }
}
.main-section__big {
  grid-column: span 3;
  background-color: #db4444;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  grid-row: span 2;
  padding: 6.875rem 2.875rem 5.5rem 4.6875rem;
  color: #fff;
}
@media (max-width: 82.5em) {
  .main-section__big {
    grid-row: span 1;
    padding: 4.375rem 2.5rem 4.375rem 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .main-section__big {
    grid-column: span 2;
  }
}
@media (max-width: 47.99875em) {
  .main-section__big {
    padding: 3.5625rem 2.0625rem 2.25rem 2.125rem;
  }
}
.main-section__big::after {
  content: "";
  position: absolute;
  bottom: -20%;
  right: -25%;
  width: 100%;
  height: 100%;
  background: url("../img/main-section/icon-01.png") right/cover no-repeat;
  pointer-events: none;
}
@media (max-width: 82.5em) {
  .main-section__big::after {
    bottom: 0;
    right: 0;
  }
}
.main-section__main-title {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 700;
  padding-bottom: 4.0625rem;
}
@media (max-width: 47.99875em) {
  .main-section__main-title {
    font-size: 2.1875rem;
    padding-bottom: 3.3125rem;
  }
}
@media (max-width: 23.4375em) {
  .main-section__main-title {
    font-size: 1.875rem;
  }
}
.main-section__list {
  padding-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .main-section__list {
    padding-bottom: 2.9375rem;
  }
}
.main-section__li {
  display: flex;
  font-size: 1.625rem;
  align-items: center;
  gap: 1.1875rem;
}
@media (max-width: 82.5em) {
  .main-section__li {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .main-section__li {
    font-size: 1rem;
  }
}
.main-section__li::before {
  content: "";
  flex: 0 0 27px;
  width: 27px;
  height: 27px;
  background: url("../img/icons/check.svg") center/contain no-repeat;
}
.main-section__li:not(:last-child) {
  margin-bottom: 0.8125rem;
}
.main-section__bottom-row {
  display: flex;
  gap: 4.125rem;
  align-items: flex-end;
}
.main-section__btn {
  flex: 0 1 306px;
  font-size: 1.25rem;
  padding: 1.34375rem 1.875rem;
  font-weight: 600;
}
.main-section__image img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .main-section__image {
    display: none;
  }
}
.main-section__sr {
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 30px;
  padding: 3rem;
  background: url("../img/main-section/icon-02.svg") center/cover no-repeat;
  background-color: #e6e6ea;
}
@media (max-width: 82.5em) {
  .main-section__sr {
    grid-column: span 1;
  }
}
@media (max-width: 61.99875em) {
  .main-section__sr {
    grid-column: span 2;
  }
}
@media (max-width: 47.99875em) {
  .main-section__sr {
    padding: 2.5625rem 2.0625rem 2.0625rem 2.125rem;
  }
}
.main-section__sr .btn {
  color: #fff;
  border-color: #DB4444;
  background-color: #DB4444;
}
@media (any-hover: hover) {
  .main-section__sr .btn:hover {
    background-color: transparent;
    color: #2C1919;
  }
}
.main-section__title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 90%; /* 90% */
  padding-bottom: 2.8125rem;
}
.main-section__title span {
  color: #DB4444;
}
@media (max-width: 47.99875em) {
  .main-section__title {
    font-size: 2.1875rem;
    padding-bottom: 4.6875rem;
  }
}
@media (max-width: 23.4375em) {
  .main-section__title {
    font-size: 1.875rem;
  }
}
.main-section__small {
  overflow: hidden;
  padding: 2.625rem 2.125rem 1.8125rem 1.5625rem;
  position: relative;
  border-radius: 30px;
}
.main-section__small::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}
@media (max-width: 47.99875em) {
  .main-section__small {
    padding: 2.625rem 0.125rem 2rem 2.1875rem;
  }
}
.main-section__small .btn {
  max-width: 174px;
  font-size: 1.25rem;
  width: 100%;
  padding: 1.34375rem;
  color: #2C1919;
  position: relative;
  z-index: 3;
}
@media (any-hover: hover) {
  .main-section__small .btn:hover {
    color: #fff;
  }
}
.main-section__image-ibg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.main-section__subtitle {
  padding-bottom: 4.5rem;
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 700;
  position: relative;
  z-index: 3;
}
@media (max-width: 47.99875em) {
  .main-section__subtitle {
    padding-bottom: 3.4375rem;
    font-size: 2.1875rem;
  }
}
@media (max-width: 23.4375em) {
  .main-section__subtitle {
    font-size: 1.875rem;
  }
}

.calculation {
  margin-bottom: 7.1875rem;
  padding-bottom: 8.125rem;
  background: #f5f5f5;
}
.calculation_service {
  padding-top: 10.625rem;
  margin-bottom: 0;
  padding-bottom: 12.5rem;
}
@media (max-width: 47.99875em) {
  .calculation_service {
    padding-bottom: 9.375rem;
    background-color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .calculation {
    margin-bottom: 9.375rem;
    padding-bottom: 0;
    background-color: transparent;
  }
}
.calculation__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
@media (max-width: 61.99875em) {
  .calculation__row {
    flex-direction: column;
    gap: 3.4375rem;
  }
}
.calculation__content {
  max-width: 440px;
}
.calculation__title {
  padding-bottom: 4.125rem;
}
@media (max-width: 47.99875em) {
  .calculation__title {
    padding-bottom: 2.6875rem;
  }
}
.form-calculation {
  flex: 0 0 49.3798449612%;
  border-radius: 30px;
  background: #DB4444;
  padding: 3.4375rem 2.9375rem 3.25rem 3.875rem;
}
@media (max-width: 47.99875em) {
  .form-calculation {
    padding: 1.875rem 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .form-calculation {
    padding: 3.6875rem 2rem 2.375rem 2rem;
  }
}
.form-calculation__row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;
}
@media (max-width: 29.99875em) {
  .form-calculation__row {
    display: block;
  }
}
.form-calculation__total {
  flex: 0 1 190px;
}
@media (max-width: 29.99875em) {
  .form-calculation__total {
    margin-bottom: 3.75rem;
  }
}
.form-calculation__inputs {
  flex: 0 1 250px;
}
.form-calculation__name {
  margin-bottom: 1.25rem;
}
.form-calculation__name input {
  width: 100%;
  padding: 1.21875rem 2.3125rem;
  color: #fff;
  border-radius: 30px;
  outline: none;
  background: rgba(193, 31, 31, 0.8);
}
.form-calculation__name input::placeholder {
  color: #fff;
}
.form-calculation__btn {
  min-width: 200px;
  color: #ab052d;
  margin-bottom: 1.25rem;
}
@media (max-width: 29.99875em) {
  .form-calculation__btn {
    width: 100%;
  }
}
.form-calculation__privacy {
  display: flex;
  align-content: center;
  gap: 0.625rem;
  color: #fff;
  font-size: 0.75rem;
}
.form-calculation__privacy a {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .form-calculation__privacy a:hover {
    text-decoration: none;
  }
}
.form-calculation__privacy::before {
  content: "";
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  background: url("../img/icons/check.svg") left/contain no-repeat;
}

.range-calculation:not(:last-child) {
  margin-bottom: 2.375rem;
}
.range-calculation__title {
  color: #fff;
  padding-bottom: 1.5625rem;
}
@media (max-width: 29.99875em) {
  .range-calculation__title {
    font-size: 1.125rem;
  }
}
.range-calculation__item {
  margin-bottom: 0.9375rem;
}
.range-calculation__input {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.125rem;
  max-width: 113px;
  font-size: 12px;
  padding: 0.375rem 0.8125rem;
  border-radius: 30px;
  border: 0.8px solid #c11f1f;
}
.range-calculation__input input {
  width: 100%;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.range-calculation__input input::-webkit-outer-spin-button,
.range-calculation__input input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.range-calculation__input span {
  flex: 1 0 84%;
}

.seo {
  margin-bottom: 12.5rem;
}
@media (max-width: 47.99875em) {
  .seo {
    margin-bottom: 9.375rem;
  }
}
.seo__title {
  text-align: center;
  padding-bottom: 6.5rem;
}
@media (max-width: 61.99875em) {
  .seo__title {
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .seo__title {
    padding-bottom: 2.6875rem;
  }
}
.seo__text {
  max-width: 900px;
  margin: auto;
}

.questions {
  margin-bottom: 3.125rem;
}
.questions_service {
  background-color: #f5f5f5;
  padding-bottom: 10.625rem;
  margin-bottom: 0;
}
@media (max-width: 47.99875em) {
  .questions_service {
    background-color: #fff;
  }
}
.questions__title {
  text-align: center;
  padding-bottom: 5.875rem;
}
@media (max-width: 61.99875em) {
  .questions__title {
    padding-bottom: 3.875rem;
  }
}
@media (max-width: 47.99875em) {
  .questions__title {
    padding-bottom: 2.625rem;
    text-align: left;
  }
}
.questions .spollers {
  max-width: 900px;
  margin: auto;
}
.questions .spollers__item {
  border-bottom: 1px solid #db4444;
}
.questions .spollers__item:first-child {
  padding-top: 2.5rem;
  border-top: 1px solid #db4444;
}
.questions .spollers__item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.questions .spollers__title {
  font-size: 1.5625rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;
  padding-bottom: 2.6875rem;
}
@media (max-width: 47.99875em) {
  .questions .spollers__title {
    padding-bottom: 1.75rem;
    font-size: 1.125rem;
  }
}
.questions .spollers__title._spoller-active .spollers__icon {
  transform: rotate(45deg);
}
.questions .spollers__title._spoller-active .spollers__icon svg path {
  stroke: #fff;
}
.questions .spollers__title._spoller-active .spollers__icon::after {
  opacity: 1;
  visibility: visible;
}
.questions .spollers__icon {
  transition: 0.3s;
  position: relative;
}
.questions .spollers__icon svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 47.99875em) {
  .questions .spollers__icon svg {
    width: 16.4px;
    height: 16.4px;
  }
}
.questions .spollers__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -54%);
  left: 50%;
  width: 51px;
  height: 51px;
  background-color: #DB4444;
  border-radius: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 47.99875em) {
  .questions .spollers__icon::after {
    width: 28px;
    height: 28px;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
.questions .spollers__body {
  margin: 0 0 3.125rem 0;
}
@media (max-width: 47.99875em) {
  .questions .spollers__body {
    margin-bottom: 1.875rem;
  }
}

.section-form {
  margin-bottom: 10rem;
  position: relative;
}
@media (max-width: 47.99875em) {
  .section-form {
    margin-bottom: 5.625rem;
  }
}
.section-form::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/form-section/icon-01.png") left/contain no-repeat;
  pointer-events: none;
}
.section-form__body {
  padding: 5.875rem 2rem 4.5625rem 2rem;
  border-radius: 30px;
  background: #DB4444;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .section-form__body {
    padding: 3.3125rem 2rem 2.875rem 2rem;
  }
}
@media (max-width: 23.4375em) {
  .section-form__body {
    padding: 2.5rem 1.25rem;
  }
}
.section-form__row {
  max-width: 1090px;
  margin: auto;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .section-form__row {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.section-form__content {
  flex: 0 0 29.3577981651%;
}
.section-form__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 112.5%; /* 112.5% */
  padding-bottom: 2.875rem;
}
@media (max-width: 82.5em) {
  .section-form__title {
    font-size: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .section-form__title {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 23.4375em) {
  .section-form__title {
    font-size: 1.875rem;
  }
}
.section-form__form {
  flex: 0 1 61.5596330275%;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .section-form__form {
    flex-direction: column;
    gap: 1.25rem;
  }
}
.section-form__textarea {
  flex: 0 1 57.0789865872%;
}
.section-form__textarea textarea {
  width: 100%;
  border-radius: 30px;
  background: rgba(193, 31, 31, 0.8);
  color: #fff;
  padding: 1.875rem 2.5rem;
  resize: none;
  min-height: 190px;
  outline: none;
}
@media (max-width: 47.99875em) {
  .section-form__textarea textarea {
    min-height: 127px;
  }
}
.section-form__textarea textarea::placeholder {
  color: #fff;
}
.section-form__form-block {
  flex: 0 1 250px;
}
.section-form__input {
  margin-bottom: 1.25rem;
}
.section-form__input input {
  padding: 0.96875rem 2.3125rem;
  color: #fff;
  width: 100%;
  border-radius: 30px;
  outline: none;
  background: rgba(193, 31, 31, 0.8);
}
.section-form__input input::placeholder {
  color: #fff;
}
.section-form__btn {
  min-width: 200px;
  margin-bottom: 1.25rem;
}
.section-form__privacy {
  display: flex;
  gap: 0.625rem;
  font-size: 0.75rem;
}
.section-form__privacy a {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .section-form__privacy a:hover {
    text-decoration: none;
  }
}
.section-form__privacy::before {
  content: "";
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  background: url("../img/icons/check.svg") left/contain no-repeat;
}

.reviews {
  padding-bottom: 9.0625rem;
}
@media (max-width: 47.99875em) {
  .reviews {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 29.99875em) {
  .reviews {
    padding-bottom: 5rem;
  }
}
.reviews__title {
  text-align: center;
  padding-bottom: 7.5625rem;
}
@media (max-width: 61.99875em) {
  .reviews__title {
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .reviews__title {
    text-align: left;
    padding-bottom: 2.625rem;
  }
}
.review {
  padding: 2.25rem 1.5625rem 1.5625rem 1.5625rem;
  border-radius: 10px;
  border: 2px solid #f1b4b4;
}
.review__row {
  display: flex;
  gap: 1.9375rem;
}
@media (max-width: 29.99875em) {
  .review__row {
    display: block;
  }
}
.review__avatar {
  flex: 0 0 60px;
}
@media (max-width: 29.99875em) {
  .review__avatar {
    flex: 0 0 50px;
  }
}
.review__avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
@media (max-width: 29.99875em) {
  .review__avatar img {
    width: 50px;
    height: 50px;
  }
}
.review__text {
  font-weight: 600;
  padding-bottom: 2.3125rem;
}
@media (max-width: 29.99875em) {
  .review__text {
    padding-bottom: 1.9375rem;
  }
}
.review__name {
  color: #7e7e7e;
}
.review__name, .review__bottom {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (max-width: 29.99875em) {
  .review__bottom-block {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}
.review__bottom {
  color: #DB4444;
}

.other {
  padding-bottom: 16.4375rem;
}
@media (max-width: 82.5em) {
  .other {
    padding-bottom: 12.5rem;
  }
}
@media (max-width: 61.99875em) {
  .other {
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 47.99875em) {
  .other {
    padding-bottom: 6.875rem;
  }
}
.other_service {
  background-color: #f5f5f5;
}
.other_home {
  background-color: #f5f5f5;
  padding-top: 8.75rem;
}
@media (max-width: 82.5em) {
  .other_home {
    padding-top: 7.5rem;
  }
}
@media (max-width: 61.99875em) {
  .other_home {
    padding-top: 6.25rem;
  }
}
@media (max-width: 47.99875em) {
  .other_home {
    padding-top: 0;
    background-color: #fff;
  }
}
.other__title {
  padding-bottom: 5.9375rem;
  text-align: center;
}
@media (max-width: 61.99875em) {
  .other__title {
    padding-bottom: 4.0625rem;
  }
}
@media (max-width: 47.99875em) {
  .other__title {
    padding-bottom: 2.8125rem;
    text-align: left;
  }
}
.other__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .other__grid {
    gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .other__grid {
    display: flex;
    flex-direction: column;
  }
}
.item-other {
  position: relative;
  color: #fff;
  border-radius: 30px;
  padding: 3.5625rem 4.5rem 2.875rem 4.5rem;
}
@media (max-width: 82.5em) {
  .item-other {
    padding: 3.4375rem 2.0625rem 2.125rem 2.125rem;
  }
}
.item-other:nth-child(odd) {
  background-color: #DB4444;
}
.item-other:nth-child(odd)::after {
  content: "";
  position: absolute;
  pointer-events: none;
  right: -15%;
  bottom: -22%;
  width: 100%;
  height: 100%;
  background: url("../img/other/icon-01.png") right/contain no-repeat;
}
@media (max-width: 47.99875em) {
  .item-other:nth-child(odd)::after {
    display: none;
  }
}
.item-other:nth-child(even) {
  background: #988989;
}
.item-other:nth-child(even)::after {
  content: "";
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../img/other/icon-02.png") right/cover no-repeat;
}
.item-other__content {
  max-width: 352px;
  position: relative;
  z-index: 2;
}
.item-other__title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 112.5%; /* 112.5% */
  padding-bottom: 2.8125rem;
}
@media (max-width: 82.5em) {
  .item-other__title {
    font-size: 1.875rem;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .item-other__title {
    font-size: 1.5625rem;
  }
}
@media (max-width: 23.4375em) {
  .item-other__title {
    font-size: 1.375rem;
    padding-bottom: 1.875rem;
  }
}
.item-other__text {
  padding-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .item-other__text {
    padding-bottom: 3.375rem;
  }
}
.item-other__btn {
  font-size: 1.25rem;
  padding: 1.46875rem 3.25rem;
}
.item-other__image {
  position: absolute;
  bottom: 1.5625rem;
  right: 1.9375rem;
}
.item-other__image img {
  max-width: 100%;
}
@media (max-width: 61.99875em) {
  .item-other__image {
    display: none;
  }
}

.service {
  padding-top: 6.25rem;
  background: #f5f5f5;
  padding-bottom: 11.25rem;
}
.service_company {
  padding-top: 7.1875rem;
}
.service_company .service__content {
  flex: 0 0 51.1627906977%;
}
@media (max-width: 47.99875em) {
  .service {
    padding-top: 3.75rem;
    padding-bottom: 9.6875rem;
  }
}
.service__row {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .service__row {
    flex-direction: column;
    gap: 1.875rem;
  }
}
.service__content {
  flex: 0 0 31.7829457364%;
}
@media (max-width: 82.5em) {
  .service__content {
    flex: 0 0 40%;
  }
}
@media (max-width: 82.5em) {
  .service__title {
    font-size: 2.1875rem;
  }
}
.service__list {
  padding-bottom: 3.125rem;
}
@media (max-width: 47.99875em) {
  .service__list {
    padding-bottom: 0rem;
  }
}
.service__li {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
  font-size: 1.625rem;
}
@media (max-width: 82.5em) {
  .service__li {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .service__li {
    font-size: 1rem;
  }
}
.service__li::before {
  content: "";
  width: 27px;
  height: 27px;
  flex: 0 0 27px;
  background: url("../img/icons/check-red.svg") left/contain no-repeat;
}
.service__li:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.service__btn {
  background-color: #DB4444;
  border-color: #DB4444;
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  max-width: 306px;
  min-height: 69px;
  border-radius: 3.125rem;
}
@media (any-hover: hover) {
  .service__btn:hover {
    color: #DB4444;
  }
}
.service__image img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .service__image img {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 47.99875em) {
  .service__image {
    text-align: center;
  }
}

.what {
  background: #f5f5f5;
  padding-bottom: 13.125rem;
}
@media (max-width: 61.99875em) {
  .what {
    padding-bottom: 10.625rem;
  }
}
@media (max-width: 47.99875em) {
  .what {
    padding-bottom: 9.375rem;
  }
}
.what__title {
  text-align: center;
  padding-bottom: 8.75rem;
}
@media (max-width: 82.5em) {
  .what__title {
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 61.99875em) {
  .what__title {
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .what__title {
    padding-bottom: 3.125rem;
  }
}
.what__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
}
@media (max-width: 82.5em) {
  .what__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .what__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.what__item {
  min-height: 260px;
  padding: 2.625rem 1.5625rem;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.what__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.what__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.what__item-title {
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.advantages {
  padding-bottom: 14.375rem;
}
@media (max-width: 61.99875em) {
  .advantages {
    padding-bottom: 11.25rem;
  }
}
@media (max-width: 47.99875em) {
  .advantages {
    padding-bottom: 10rem;
  }
}
.advantages__title {
  padding-bottom: 8.4375rem;
}
@media (max-width: 61.99875em) {
  .advantages__title {
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .advantages__title {
    text-align: left;
    padding-bottom: 3.75rem;
  }
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media (max-width: 61.99875em) {
  .advantages__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .advantages__grid {
    gap: 3.75rem;
    grid-template-columns: 1fr;
  }
}
.advantages__item {
  max-width: 321px;
}
@media (max-width: 47.99875em) {
  .advantages__item {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .advantages__item {
    text-align: left;
  }
}
.advantages__icon {
  padding-bottom: 1.875rem;
}
.advantages__icon img {
  max-width: 100%;
}
.advantages__item-title {
  padding-bottom: 2.1875rem;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  line-height: 180%; /* 180% */
}
.lead {
  padding-bottom: 13.75rem;
}
.lead_service {
  background-color: #f5f5f5;
}
@media (max-width: 61.99875em) {
  .lead {
    margin-bottom: 11.25rem;
  }
}
@media (max-width: 47.99875em) {
  .lead {
    margin-bottom: 10rem;
  }
}
.lead__wrapp {
  max-width: 1290px;
  margin: auto;
}
.lead__container {
  border-radius: 30px;
  background: #DB4444;
  position: relative;
  padding: 0;
  margin: 0 0.625rem;
}
@media (min-width: 47.99875em) {
  .lead__container::before {
    content: "";
    position: absolute;
    left: -23.75rem;
    pointer-events: none;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("../img/lead/icon-01.svg") left/contain no-repeat;
  }
  .lead__container::after {
    content: "";
    position: absolute;
    right: -23.75rem;
    transform: rotate(180deg);
    pointer-events: none;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("../img/lead/icon-01.svg") left/contain no-repeat;
  }
}
@media (max-width: 47.99875em) {
  .lead__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/lead/icon-02.svg") center/cover no-repeat;
  }
}
.lead__body {
  padding: 4.0625rem 2rem 4.5625rem 2rem;
  max-width: 700px;
  margin: auto;
  position: relative;
}
@media (max-width: 61.99875em) {
  .lead__body {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.lead__title {
  padding-bottom: 5.9375rem;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 112.5%;
}
@media (max-width: 47.99875em) {
  .lead__title {
    font-size: 2.1875rem;
    padding-bottom: 4.6875rem;
    text-align: left;
  }
}
@media (max-width: 23.4375em) {
  .lead__title {
    padding-bottom: 50px;
  }
}
.lead__form {
  max-width: 585px;
  margin: auto;
}
.lead__row {
  display: flex;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .lead__row {
    flex-direction: column;
  }
}
.lead__input {
  flex: 0 1 19.6875rem;
}
.lead__input input {
  padding: 1.21875rem 2.875rem;
  border-radius: 30px;
  background: rgba(193, 31, 31, 0.8);
  color: #fff;
  width: 100%;
  outline: none;
}
.lead__input input::placeholder {
  color: #fff;
}
@media (max-width: 47.99875em) {
  .lead__input {
    flex: 0 1 auto;
    max-width: 281px;
    margin: auto;
  }
}
.lead__btn {
  flex: 0 1 252px;
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 47.99875em) {
  .lead__btn {
    flex: 0 1 auto;
    max-width: 281px;
    margin: auto;
    width: 100%;
  }
}
.lead__privacy {
  max-width: 250px;
  margin-left: auto;
  color: #fff;
  justify-content: flex-end;
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.lead__privacy a {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .lead__privacy a:hover {
    text-decoration: none;
  }
}
.lead__privacy::before {
  content: "";
  width: 20px;
  height: 16px;
  flex: 0 0 1.25rem;
  background: url("../img/icons/check-white.svg") left/contain no-repeat;
}
@media (max-width: 47.99875em) {
  .lead__privacy {
    margin: auto;
  }
}

.conditions {
  padding-bottom: 13.125rem;
}
@media (max-width: 61.99875em) {
  .conditions {
    padding-bottom: 11.25rem;
  }
}
@media (max-width: 47.99875em) {
  .conditions {
    padding-bottom: 9.375rem;
  }
}
.conditions__title {
  text-align: center;
  padding-bottom: 7.5rem;
}
@media (max-width: 61.99875em) {
  .conditions__title {
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .conditions__title {
    padding-bottom: 3.4375rem;
    text-align: left;
  }
}
.conditions__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
}
@media (max-width: 82.5em) {
  .conditions__grid {
    gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .conditions__grid {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}
.conditions__item {
  padding: 4.8125rem 5rem;
  border-radius: 30px;
  border: 2px solid #e67c7c;
}
@media (max-width: 82.5em) {
  .conditions__item {
    padding: 2.5rem 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .conditions__item {
    padding: 3.75rem 2.1875rem;
  }
}
.conditions__subtitle {
  font-size: 1.875rem;
  padding-bottom: 3.125rem;
  font-weight: 700;
  line-height: 150%; /* 150% */
}
@media (max-width: 61.99875em) {
  .conditions__subtitle {
    font-size: 1.625rem;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .conditions__subtitle {
    font-size: 1.25rem;
  }
}
.conditions__list-item {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}
.conditions__list-item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.conditions__list-item::before {
  content: "";
  width: 27px;
  height: 27px;
  flex: 0 0 27px;
  background: url("../img/icons/check-red.svg");
}

.documents {
  padding-bottom: 6.25rem;
}
.documents__title {
  text-align: center;
  padding-bottom: 7.5rem;
}
@media (max-width: 61.99875em) {
  .documents__title {
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .documents__title {
    padding-bottom: 3.75rem;
    text-align: left;
  }
}
.documents__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 1170px;
  margin: auto;
}
@media (max-width: 47.99875em) {
  .documents__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .documents__row {
    display: flex;
    flex-direction: column;
  }
}
.documents__item {
  max-width: 17.875rem;
}
.documents__image {
  height: 120px;
}
.documents__image img {
  max-width: 100%;
}
.documents__subtitle {
  padding-bottom: 1.4375rem;
  color: #000;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 180%; /* 180% */
  padding-bottom: 2.1875rem;
}
@media (max-width: 61.99875em) {
  .documents__subtitle {
    padding-bottom: 1.875rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .documents__subtitle {
    font-size: 1.5625rem;
    padding-bottom: 2.1875rem;
  }
}
.news {
  background: #f5f5f5;
  padding-bottom: 13.4375rem;
  padding-top: 9rem;
}
@media (max-width: 61.99875em) {
  .news {
    padding-top: 5rem;
    padding-bottom: 11.25rem;
  }
}
@media (max-width: 47.99875em) {
  .news {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
    background-color: #fff;
  }
}
@media (max-width: 29.99875em) {
  .news {
    padding-bottom: 5rem;
  }
}
.news__title {
  padding-bottom: 5rem;
}
@media (max-width: 61.99875em) {
  .news__title {
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .news__title {
    padding-bottom: 2.5rem;
  }
}
.news__text {
  padding-bottom: 4.4375rem;
}
@media (max-width: 61.99875em) {
  .news__text {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .news__text {
    padding-bottom: 1.875rem;
  }
}
.news__preview-ibg {
  padding-bottom: 39.6124031008%;
  margin-bottom: 5.4375rem;
}
@media (max-width: 61.99875em) {
  .news__preview-ibg {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .news__preview-ibg {
    margin-bottom: 2.5rem;
  }
}
.news__preview-ibg img {
  border-radius: 30px;
}
@media (max-width: 61.99875em) {
  .news__preview-ibg img {
    border-radius: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .news__preview-ibg img {
    border-radius: 0.625rem;
  }
}
.news__content {
  padding-bottom: 15rem;
}
@media (max-width: 82.5em) {
  .news__content {
    padding-bottom: 10.625rem;
  }
}
@media (max-width: 61.99875em) {
  .news__content {
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 47.99875em) {
  .news__content {
    padding-bottom: 5rem;
  }
}
@media (max-width: 29.99875em) {
  .news__content {
    padding-bottom: 3.75rem;
  }
}
.news__content p:not(:last-child) {
  padding-bottom: 1.5625rem;
}
@media (max-width: 61.99875em) {
  .news__content p:not(:last-child) {
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .news__content p:not(:last-child) {
    padding-bottom: 0.625rem;
  }
}
.news__content ul li,
.news__content ol li {
  margin-left: 17px;
  padding-bottom: 1.25rem;
}
.news__content ul li:not(:last-child),
.news__content ol li:not(:last-child) {
  padding-bottom: 0.625rem;
}
.news__content ul li {
  list-style-type: disc;
}
.news__content h2 {
  font-size: 1.875rem;
}
@media (max-width: 47.99875em) {
  .news__content h2 {
    font-size: 1.75rem;
  }
}
.news__content h3 {
  font-size: 1.75rem;
}
@media (max-width: 47.99875em) {
  .news__content h3 {
    font-size: 1.625rem;
  }
}
.news__content h4 {
  font-size: 1.625rem;
}
@media (max-width: 47.99875em) {
  .news__content h4 {
    font-size: 1.5rem;
  }
}
.news__content h4 {
  font-size: 1.5rem;
}
@media (max-width: 47.99875em) {
  .news__content h4 {
    font-size: 1.375rem;
  }
}
.news__content h4 {
  font-size: 1.375rem;
}
@media (max-width: 47.99875em) {
  .news__content h4 {
    font-size: 1.25rem;
  }
}
.news__content h5 {
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .news__content h5 {
    font-size: 1.125rem;
  }
}
.news__content h6 {
  font-size: 1.125rem;
}
@media (max-width: 47.99875em) {
  .news__content h6 {
    font-size: 1rem;
  }
}
.news__content h2,
.news__content h3,
.news__content h4,
.news__content h5,
.news__content h6 {
  padding-bottom: 1.5625rem;
  font-weight: 700;
}
@media (max-width: 61.99875em) {
  .news__content h2,
  .news__content h3,
  .news__content h4,
  .news__content h5,
  .news__content h6 {
    padding-bottom: 1.25rem;
  }
}
.news__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.375rem 1.875rem;
  margin-bottom: 5.9375rem;
}
@media (max-width: 61.99875em) {
  .news__grid {
    gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .news__grid {
    display: flex;
    gap: 1.875rem;
    flex-direction: column;
  }
}
.news__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 65%;
  gap: 2.5rem;
  margin-left: auto;
}
@media (max-width: 47.99875em) {
  .news__bottom {
    max-width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .news__bottom {
    flex-direction: column-reverse;
  }
}
.news__btn {
  background-color: #DB4444;
  color: #fff;
  justify-content: center;
  font-size: 1.25rem;
  padding: 1.71875rem 1.875rem;
  flex: 1 1 auto;
  border-radius: 50px;
  max-width: 410px;
  border-color: #DB4444;
}
@media (any-hover: hover) {
  .news__btn:hover {
    color: #DB4444;
  }
}
@media (max-width: 61.99875em) {
  .news__btn {
    flex: 0 1 auto;
    padding: 20px;
    font-size: 1rem;
  }
}
.news__btn-wrap {
  text-align: center;
}
.news__btn-wrap .btn {
  max-width: 410px;
  width: 100%;
}
.item-news__image-ibg {
  padding-bottom: 60.7317073171%;
  margin-bottom: 2.3125rem;
}
.item-news__image-ibg img {
  border-radius: 15px;
}
.item-news__subtitle {
  color: #000;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 200%; /* 200% */
  margin-bottom: 2rem;
}
.item-news__excert {
  margin-bottom: 1.625rem;
}
.item-news__date {
  color: #DB4444;
}

.pagination {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.pagination__current {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DB4444;
  border-radius: 100%;
}

.section-documents {
  background-color: #f5f5f5;
  padding-top: 9rem;
  padding-bottom: 15.625rem;
}
@media (max-width: 82.5em) {
  .section-documents {
    padding-bottom: 12.5rem;
  }
}
@media (max-width: 61.99875em) {
  .section-documents {
    padding-top: 5rem;
    padding-bottom: 10.625rem;
  }
}
@media (max-width: 47.99875em) {
  .section-documents {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 29.99875em) {
  .section-documents {
    padding-bottom: 6.25rem;
  }
}
.section-documents__title {
  padding-bottom: 6.5rem;
}
.section-documents__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.125rem 1.875rem;
}
@media (max-width: 61.99875em) {
  .section-documents__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .section-documents__row {
    display: flex;
    flex-direction: column;
  }
}
.documnet__icon {
  padding-bottom: 2.125rem;
}
.documnet__icon img {
  max-width: 100%;
}
.documnet__title {
  padding-bottom: 2.5rem;
  color: #000;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 200%; /* 200% */
}
@media (max-width: 82.5em) {
  .documnet__title {
    font-size: 1.375rem;
  }
}
@media (max-width: 47.99875em) {
  .documnet__title {
    font-size: 1.25rem;
    line-height: 1.3;
  }
}
.documnet a.documnet__link {
  color: #DB4444;
  font-size: 1rem;
  text-decoration-line: underline;
}
@media (any-hover: hover) {
  .documnet a.documnet__link:hover {
    text-decoration: none;
  }
}

.contacts {
  background: #F5F5F5;
  padding-top: 9rem;
  padding-bottom: 13.75rem;
}
@media (max-width: 82.5em) {
  .contacts {
    padding-bottom: 11.25rem;
  }
}
@media (max-width: 61.99875em) {
  .contacts {
    padding-top: 5rem;
    padding-bottom: 8.75rem;
  }
}
@media (max-width: 47.99875em) {
  .contacts {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 29.99875em) {
  .contacts {
    padding-bottom: 6.25rem;
  }
}
.contacts__title {
  padding-bottom: 3.125rem;
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .contacts__grid {
    display: flex;
    flex-direction: column;
  }
}
.block-contacts {
  border-radius: 30px;
  border: 2px solid #e37979;
  padding: 1.125rem 3.125rem 1.6875rem 3.125rem;
}
@media (max-width: 82.5em) {
  .block-contacts {
    padding: 1.875rem 2.5rem;
  }
}
.block-contacts__title {
  color: #DB4444;
  padding-bottom: 1.125rem;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; /* 200% */
}
.block-contacts__address {
  padding-bottom: 1.875rem;
}
.block-contacts__tel {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 166.667%; /* 166.667% */
}
@media (max-width: 82.5em) {
  .block-contacts__tel {
    font-size: 1.5rem;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
